body {
  background-color: #37474f /* เปลี่ยนสีพื้นหลังที่นี่ */
}


.formconcon{
  color: rgb(255, 254, 254);
}

#basic-addon1 {
  color: #212121; /* เปลี่ยนสีตัวอักษรที่นี่ */
}

.btn-success {
  background-color: #2abf77; /* เปลี่ยนสีพื้นหลังของปุ่มเป็นสีเขียว */
  border: none;
}

